// Sahan Journal brand colors
$sahan-white: #ffffff;
$sahan-light-grey: #dbdbdb;
$sahan-grey: #6c757e;
$sahan-black: #0d0e10;

// Legacy Colors from THE CITY branding
$city-orange: #fa7416;
$city-purple: #8c52ff;
$city-blue: #0086be;
$city-gold: #fbcc09;
$city-red: #c10016;
